@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary-dark;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
